<style> body {font-family:monospace;font-size: 35px;}
            header {font-size: 15px;font-family: cursive;}
h3 {font-size:8px;font-family:serif;}
body {font-family: monospace;font-size: 18px;}
h1 {font-size:25px;}
h2 {font-size:25px;}

        </style>